body {
    font-family: 'Inter', sans-serif;
    color: #092329;
    padding: 1rem 2rem;
}

app-root {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #265df6;
}

.card {
    display: block;
    width: 20rem;
    padding: 1rem;
    background: #f1ece5;
    border-radius: 6px;
}

.flex {
    display: flex;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 2rem 0 1.25rem;
}
